dataset:
  type: tinyimg
  root: /home/zhiyuan/CIL-CN/datasets/
  batch_size: 32
model:
  type: covnorm
  backbone: ResNet18
  header_mode: big
  buffer:
  selector:
  pretrained: ImageNet-800
  pretrain_model: /home/zhiyuan/CIL-CN/saved_models/model_best.pth.tar
optim:
  type: SGD
  lr: 0.1
  lr_adapter: 0.1
  weight_decay: 0.001
  epochs: 150
  drop:
    type: point
    val:
      - 50
      - 100
      - 125
ckpt:
logger:
  root: /home/zhiyuan/CIL-CN/log/
  name: covnorm_wd1e-3_Im800pretrain
params: